body {
  background: url("/public/images/08-02-02.png");
  background-size: cover;
  background-attachment: fixed;
  border-radius: 10%;

  @media (max-width: 800px) {
    background: black;
    margin: 5%;
  }
}

h1, h2 {
  color: @rgold;
  font-family: @font1;
  padding-bottom: 0.25em;

  &.heading {
    margin-bottom: 0.2em;
    border-bottom: 1px solid @rgold;
  }
}
h3, h4 {
  color: @rgold;
  font-family: @font1;
}
ol li {
  color: @roffWhite;
  font-size: 2rem;
  font-family: @font2;
  margin-bottom: .75rem;
}
label {
  font-family: @font2;
  color: @roffWhite;
  font-size: 2rem;
}
img {
  display: block;
  margin: 0 auto;
}
form {
  margin-bottom: 0em;
}

/* class fix-button gives styling back to buttons and is applied to #'s newGame,hiScores,submit/hint-button */
.fix-button {
  background-color: @rcrimson;
  font-family: @font1;
  font-size: 1.2rem;
  color: @rgold;
  margin: 1em 10px;

  &:hover {
    background-color: @rgold;
    color: @rcrimson;
  }
}

/* for buttons in home page */
#homeNewGame-button {
  .fix-button;
}

/* for buttons in index page */
#submit-button {
  float: left;
  .fix-button;
}
#hint-button {
  float: right;
  .fix-button;
}
#newGame-button {
  float: left;
  .fix-button;
}
#highScores-button {
  float: right;
  .fix-button;
}
/* high scores page */
#playAgain-button {
  .fix-button;
}

/* game over page */
#submit-button2 {
  .fix-button;
}


/* margin/spacing */
.top-margin {
  margin-top: 4em;
}
.top-inside-margin {
  margin-top: 2em;
}
.bottom-margin {
  margin-bottom: 4em;
}

/* a transition I created for the highscores page animation */
@-webkit-keyframes collapse {
  0% {height: 10rem;}
  100%{height: 1rem;}
}
.score {
  height: 10rem;
  margin-bottom: 30px;
}
#movdiv {
  margin-top: 1000px;
}

/* index page stuff */
.ansr-choice {
  color: @roffWhite;
  font-size: 2rem;
  font-family: @font2;
  display: block;
  margin-top: 10px;
  margin-left: 12%;


  &:hover {
    font-size: 4rem;
    color: @rcrimson;
  }

  &:active {
    font-size: 4rem;
    color: @rcrimson;
  }
  &:focus {
    font-size: 4rem;
    color: @rcrimson;
  }
  &:checked {
    font-size: 4rem;
    color: @rcrimson;
  }

  input {
    display: none;

    &:hover {
      font-size: 4rem;
      color: @rcrimson;
    }

    &:active {
      font-size: 4rem;
      color: @rcrimson;
    }
    &:focus {
      font-size: 4rem;
      color: @rcrimson;
    }
    &:checked {
      font-size: 4rem;
      color: @rcrimson;
    }
  }

  @media (max-width: 800px) {
    margin-left: 5%;
  }
}
#hint {
    color: @roffWhite;
    font-family: @font2;
    font-size: 2rem;
    margin-top: 1.25em;
    margin-bottom: 1.25em;

    @media (max-width: 800px) {
      margin-left: 5%;
    }
}

/* a class for border-radius so that all rounded edges are uniform, used in #home-pic and #poster */
.rounded-img {
  border-radius: 2%;
}
#homePic {
  .rounded-img;
}
#poster {
  .rounded-img;
}
