body {
  background: url("/public/images/08-02-02.png");
  background-size: cover;
}

h2 {
  color: @ryellow;
  font: @font1;
}
a, button, li, h3, h4 {
  color: white;
  font: @font2;
}

.button {
  background-color: @ryellow;
  color: @rblue;
}

.buttonDiv {
  bottom: 10%;
}

.top-margin {
  margin-top: 4em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
