body {
  background: url("/public/images/08-02-02.png");
  background-size: cover;
  background-attachment: fixed;
}

h1, h2 {
  color: @ryellow;
  font-family: @font1;
}
h3, h4 {
  color: @ryellow;
  font-family: @font1;
}
ol li {
  color: @rblue;
  font-size: 2rem;
  font-family: @font2;
  margin-bottom: .75rem;
}
label {
  font-family: @font2;
  color: @rblue;
  font-size: 2rem;
}
#fix-button {
  background-color: @ryellow;
  font-family: @font3;
  font-size: 1.3rem;
  color: @rblue;
}
#movdiv {
  height: 1000px;
}
.buttonDiv {
  bottom: 10%;
}

.top-margin {
  margin-top: 4em;
}

#ansr-choice {
  color: @rblue;
  font-size: 2rem;
  font-family: @font2;
  display: inline-block;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#hint {
    color: @rblue;
    font-family: @font2;
    font-size: 2rem;
}