<h1>Game Over Man, Game Over :(</h1>

<form type="POST" action="/something">
    <label>Input Your Name</label>
    <input type="text" name="playerName">
    <button type="submit">Submit</button>
</form>
