<div class="row">
    <div class="col col-4"></div>
    <div class="col col-4 text-center"><h2 class="top-margin">High Scores</h2></div>
    <div class="col col-4"></div>
</div>
<div class="row">
    <div class="col col-4"></div>
    <div class="col col-4 text-center">
        <ol>
            {{#each results}}
                <li>{{username}} : {{score}}</li>
            {{/each}}
        </ol>
    </div>
    <div class="col col-4"></div>
</div>

