<select name='genreChoice'>
  <option>Choose a different genre</option>
    <option value="all">All</option>
  {{#each genres}}
    <option value="{{this.id}}">{{this.name}}</option>
  {{/each}}
</select>
