<h2>{{title}}</h2>

<img src={{imgUrl}}>

<br>
<br>
<br>
<br>

<form method="POST" id="inputMovie" action="/guess">
  <label>Type in movie here: </label>
  <input name="answer" type="text">
  <button type="submit">Submit</button>
</form>
