<h2>{{title}}</h2>

<img src={{imgUrl}}>

<br>
<br>
<br>
<br>

<form method="GET" action="/search">
  <label>Type in movie here: </label>
  <input name="searchTerm">
  <button type="submit">Submit</button>
</form>
