<!-- Movie title -->
<h2>{{title}}</h2>

<!-- Movie picture -->
<img src={{imgUrl}}>

<!-- Hint displays when button pressed -->
<p id="hint"></p>

<!-- Guessing the movie -->
<form method="POST" action="/guess">
  <label>Type in movie here: </label>
  <input name="answer" type="text">
  <button type="submit">Submit</button>
</form>

<!-- Hint button -->
<script>
  var hint = "{{overviewHint}}";
  var replaceWord = /{{title}}/gi;
  hint = hint.replace(replaceWord, "___");
</script>
<button type="button" onclick="getHint(hint)">Hint</button>
