<!DOCTYPE HTML>
<html>
  <header>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Belgrano|Oswald" rel="stylesheet">
    <link rel="stylesheet" href="/kube/kube.css">
    <link rel="stylesheet" href="/public/index.css">
  </header>
  <body>

    {{{body}}}
    <div class="row buttonDiv top-margin">
        <div class="col col-2 black"></div>
        <div class="col col-4 text-left"><a href="/" class="button round" id="fix-button">New Game</a></div>
        <div class="col col-4 text-right"><a href="/highscores" class="button round"id="fix-button">Hi Scores</a></div>
        <div class="col col-2"></div>
    </div>


  </body>
  <script type="text/javascript" src="/public/js/app.js"></script>
</html>
