<!DOCTYPE HTML>
<html>
<header>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Belgrano|Oswald" rel="stylesheet">
    <link rel="stylesheet" href="/kube/kube.css">
    <link rel="stylesheet" href="/public/index.css">
</header>
<body>

{{{body}}}

</body>
<script type="text/javascript" src="/public/js/app.js"></script>
</html>