body {
  background: url("/public/images/08-02-02.png");
  background-size: cover;
  background-attachment: fixed;
  border-radius: 10%;
}
@media (max-width: 1000px) {
  body {
    background: black;
    margin: 5%;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  body {
    background: black;
    margin: 5%;
  }
  body .col-3 {
    width: 0%;
  }
  body .col-6 {
    width: 100%;
    margin: 0 auto;
  }
  body .col-6 img {
    width: 100%;
  }
}
h1,
h2 {
  color: #D4AF37;
  font-family: 'Belgrano', serif;
  padding-bottom: 0.25em;
}
h1.heading,
h2.heading {
  margin-bottom: 0.2em;
  border-bottom: 1px solid #D4AF37;
}
h3,
h4 {
  color: #D4AF37;
  font-family: 'Belgrano', serif;
}
ol li {
  color: #EEE8AA;
  font-size: 2rem;
  font-family: 'Amatic SC', cursive;
  margin-bottom: .75rem;
}
label {
  font-family: 'Amatic SC', cursive;
  color: #EEE8AA;
  font-size: 2rem;
}
img {
  display: block;
  margin: 0 auto;
}
form {
  margin-bottom: 0em;
}
label {
  font-size: ;
}
/* class fix-button gives styling back to buttons and is applied to #'s newGame,hiScores,submit/hint-button */
.fix-button {
  background-color: #4d0000;
  font-family: 'Belgrano', serif;
  font-size: 1.2rem;
  color: #D4AF37;
  margin: 1em 10px;
}
.fix-button:hover {
  background-color: #D4AF37;
  color: #4d0000;
}
/* for buttons in home page */
#homeNewGame-button {
  background-color: #4d0000;
  font-family: 'Belgrano', serif;
  font-size: 1.2rem;
  color: #D4AF37;
  margin: 1em 10px;
}
#homeNewGame-button:hover {
  background-color: #D4AF37;
  color: #4d0000;
}
/* for buttons in index page */
#submit-button {
  float: left;
  background-color: #4d0000;
  font-family: 'Belgrano', serif;
  font-size: 1.2rem;
  color: #D4AF37;
  margin: 1em 10px;
}
#submit-button:hover {
  background-color: #D4AF37;
  color: #4d0000;
}
#hint-button {
  float: right;
  background-color: #4d0000;
  font-family: 'Belgrano', serif;
  font-size: 1.2rem;
  color: #D4AF37;
  margin: 1em 10px;
}
#hint-button:hover {
  background-color: #D4AF37;
  color: #4d0000;
}
#newGame-button {
  float: left;
  background-color: #4d0000;
  font-family: 'Belgrano', serif;
  font-size: 1.2rem;
  color: #D4AF37;
  margin: 1em 10px;
}
#newGame-button:hover {
  background-color: #D4AF37;
  color: #4d0000;
}
#highScores-button {
  float: right;
  background-color: #4d0000;
  font-family: 'Belgrano', serif;
  font-size: 1.2rem;
  color: #D4AF37;
  margin: 1em 10px;
}
#highScores-button:hover {
  background-color: #D4AF37;
  color: #4d0000;
}
/* high scores page */
#playAgain-button {
  background-color: #4d0000;
  font-family: 'Belgrano', serif;
  font-size: 1.2rem;
  color: #D4AF37;
  margin: 1em 10px;
}
#playAgain-button:hover {
  background-color: #D4AF37;
  color: #4d0000;
}
/* game over page */
#submit-button2 {
  background-color: #4d0000;
  font-family: 'Belgrano', serif;
  font-size: 1.2rem;
  color: #D4AF37;
  margin: 1em 10px;
}
#submit-button2:hover {
  background-color: #D4AF37;
  color: #4d0000;
}
/* margin/spacing */
.top-margin {
  margin-top: 4em;
}
.top-inside-margin {
  margin-top: 2em;
}
.bottom-margin {
  margin-bottom: 4em;
}
/* a transition I created for the highscores page animation */
@-webkit-keyframes collapse {
  0% {
    height: 10rem;
  }
  100% {
    height: 1rem;
  }
}
.score {
  height: 10rem;
  margin-bottom: 30px;
}
#movdiv {
  margin-top: 101vh;
}
/* index page stuff */
.ansr-choice {
  color: #EEE8AA;
  font-size: 2rem;
  font-family: 'Amatic SC', cursive;
  display: block;
  margin-top: 10px;
}
.ansr-choice:hover {
  font-size: 2.5rem;
  color: #D4AF37;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label {
  font-size: 2.5rem;
  color: #D4AF37;
}
#hint {
  color: #EEE8AA;
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
/* a class for border-radius so that all rounded edges are uniform, used in #home-pic and #poster */
.rounded-img {
  border-radius: 2%;
}
#homePic {
  border-radius: 2%;
}
#poster {
  border-radius: 2%;
}
