body {
  background: url("/public/images/08-02-02.png");
  background-size: cover;
}
h1,
h2 {
  color: #AE8913;
  font-family: 'Belgrano', serif;
}
h3,
h4 {
  color: #AE8913;
  font-family: 'Belgrano', serif;
}
ol li {
  color: #dccd9e;
  font-size: 2rem;
  font-family: 'Amatic SC', cursive;
  margin-bottom: .75rem;
}
label {
  font-family: 'Amatic SC', cursive;
  color: #dccd9e;
  font-size: 2rem;
}
#fix-button {
  background-color: #AE8913;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
  color: #dccd9e;
}
.buttonDiv {
  bottom: 10%;
}
.top-margin {
  margin-top: 4em;
}

#ansr-choice {
  color: #dccd9e;
  font-size: 2rem;
  font-family: 'Amatic SC', cursive;
  display: inline-block;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p#hint {
  color: #dccd9e;
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
}
